
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Twitter at the iLab</h1>
            <h3>Built in a weekend!!</h3>
            <br>
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-dark btn-lg' %>
        </div>
    </header>